body {
  background-color: black; /* Fondo negro */
  color: pink; /* Texto rosa */
  font-family: Arial, sans-serif;
}

.userTableContainer {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #000000; /* Fondo gris oscuro para el contenedor */
  border-radius: 8px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.logo, .unicornioLogo {
  display: flex;
  align-items: center;
}

.logo img, .unicornioLogo img {
  height: 40px;
  margin-right: 10px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #ff9aa2; /* Rosado suave */
}

.searchInput {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #333;
  border: 1px solid #ff9aa2;
  color: #e1e1e1; /* Color de texto claro */
  border-radius: 4px;
  outline: none;
}

.searchInput::placeholder {
  color: #999; /* Color del placeholder */
}

.formContainer {
  background-color: #2c2c2c; /* Fondo gris oscuro */
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  border: 1px solid #444; /* Bordes sutiles */
}

.formContainer input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  background-color: #333;
  border: 1px solid #ff9aa2;
  color: #e1e1e1; /* Color de texto claro */
  border-radius: 4px;
  outline: none;
}

.formContainer button {
  padding: 10px 20px;
  background-color: #ff9aa2;
  color: #121212;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
}

.formContainer button:hover {
  background-color: #ff6b81; /* Rosado más oscuro */
}

.userTable {
  width: 100%;
  border-collapse: collapse;
}

.userTable th, .userTable td {
  padding: 12px;
  text-align: left;
}

.userTable th {
  background-color: #ff9aa2;
  color: #121212;
  font-weight: normal;
}

.userTable tr {
  background-color: #2c2c2c;
  transition: background-color 0.3s;
}

.userTable tr:hover {
  background-color: #3a3a3a;
}

.userTable td {
  border-top: 1px solid #444;
  border-bottom: 1px solid #444;
}

.userTable td:first-child {
  border-left: 1px solid #444;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.userTable td:last-child {
  border-right: 1px solid #444;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.actionButton {
  padding: 10px 20px;
  margin: 5px;
  background-color: #ff9aa2;
  color: #121212;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.actionButton:hover {
  background-color: #ff6b81; /* Rosado más oscuro */
}

@media (max-width: 768px) {
  .formContainer input {
    width: 100%;
    margin-right: 0;
  }

  .userTable {
    display: block;
    overflow-x: auto;
  }

  .userTable th, .userTable td {
    min-width: 120px;
  }
}
